[required="required"]::after {
  content: " *";
  color: #e94d45;
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
}

header {
  gap: 10px;
  margin: 5px;
  height: 40px;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 10px);
  outline: 1px solid red;
}